.footer
  .staff
    .message
    .images
      =image_tag src="/assets/tetsuo.png", height:"700px",width:"350px"
    .top-message#staff
      %br 院長 西谷 哲夫
  .footer__contents
    .footer__contents--left
      .mybox#menu
        %p
          MENU
        .small
          %span
            メニュー
      .menu
        .borderbottom
          美容コース(60分) 
        .price
          ￥7,000(税込)
        .borderbottom_biyou
          疲労・美容コース(90分)
        .price
          ￥8,800(税込)
        .borderbottom_huru 
          疲労・女優鍼コース(120分)
        .price
          ￥12,000(税込)
    .footer__contents--center
      .mybox2#mybox2
        Products
      .products_number1 ■セルキュア４T プラス 
      .products_number2 ■カーボキシー炭酸パック
      .products_number3 ■鍼灸
      .products_number4 ■姿勢改善
      .products_number5 ■高周波痩身マシーン
    .footer__contents--right
      .mybox4
        ACCSES
        .small3
          %span
            アクセス
      .mybox__access#access
        .place
          〒538-0051 大阪府大阪市鶴見区横堤5-13-45 
        .tel2
          TEL 090-4493-7883
        .time
          営業時間 13時〜21時
        .day
          定休日 日曜日/祝日
        .mail
          E-Mail helthehuman@gmail.com
        .reservation
          ご予約・・・TELもしくはInstagramからのDMにて承っています！
        .map
          %iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3279.862801182989!2d135.57228011523247!3d34.708640280432384!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000e0457337aa8f%3A0xb939cf25a66d2e4!2z44CSNTM4LTAwNTIg5aSn6Ziq5bqc5aSn6Ziq5biC6ba06KaL5Yy65qiq5aCk77yV5LiB55uu77yR77yT4oiS77yU77yV!5e0!3m2!1sja!2sjp!4v1601897154883!5m2!1sja!2sjp" width="450" height="450" frameborder="0" style="border:0" allowfullscreen)
        .insta#contact
          Instagram
        .contents
          = link_to "https://www.instagram.com/nishiya.diet.hari/", class: "contents__btn" do
            = icon('fab', 'instagram')
.main.footer
  .main.footer_logo
    %h1
      Dr.鍼灸 NISHI屋
  .footer_adress
    .adress
      〒538-0051 大阪府大阪市鶴見区横堤5-13-45 
    .tel
      TEL 090-4493-7883 / 営業時間 13時〜21時
  .footer_icon
    %h2 
      長堀鶴見緑地線 横堤駅 徒歩５分
