.name{
  color:#1b1b1b;
  position: relative;
  left: 20px;
  top: -19px;
  font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif;
  h1{
    font-size: 50px;
    position: relative;
  }
  p{
    font-size: 25px;
    left: 10px;
    position: relative;
    top: -40px;
    font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif;
  }
}
.nav{
  position: absolute;
  right: 50px;
  bottom: 0;
  top: 24px;
  overflow: hidden;
  }
.nav-ol{
  display: flex;
  letter-spacing: 0.2em;
}
a{
  font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif;
  color:#000;
  text-decoration: none;
}
