pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

.a {
  text-shadow: 1px 2px 3px #808080;
  color:#1b1b1b;
  transition: transform 0.2s ease 0s;
}
.a:visited {
  font-size: 50px;
  position: relative;
  left: 40px;
  top: -53px;
  font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif;
  color:#1b1b1b;
}

a:hover {
  color: #fff;
  background-color: #000; }

th {
  font-size: 35px;
  padding-bottom: 5px; }

td {
  font-size: 35px;
  position: relative;
  left: 20px;
  padding: 0 5px 7px; }

.field {
  position: relative;
}
.actions {
  position: relative;
  
  display: block;
  margin-bottom: 10px; 
}

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff; }

#error_explanation ul li {
  font-size: 12px;
  list-style: square; }

label {
  display: block; 
}
